body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    padding: 2rem;
}

#countdown {
    font-size: 3rem;
    color: yellow; /* Başlangıçta sarı */
    animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
    to {
        color: orange;
    }
}

img {
    max-width: 100%;
}


body {
    /* ... diğer stiller ... */
    background-color: #111; /* Daha koyu bir arka plan */
}

#countdown {
    color: orange;
    animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
    to {
        color: red;
    }
}

footer {
    text-align: center;
    color: #fff; /* Beyaz yazı rengi */
    background-color: #333; /* Koyu gri arka plan */
    padding: 10px;
}
